$size: 50px;

$green: #1f9d3c;
$pink: #f19aa3;
$light-blue: #6da9ed;
$blue: #217cf0;
$red: #ef3b39;
$yellow: #d6e268;

$border-size: 3px;

.standard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  background-color: $green;
  border: $border-size solid rgba(0, 0, 0, 0.2);
}

.start {
  @extend .standard;

  $color: $yellow;
  color: $color;
  background-color: $color;
}

.double-word {
  @extend .standard;

  $color: $pink;
  color: $color;
  background-color: $color;
}

.star:before {
  display: block;
  content: "⭐";
  font-size: 30px;
  padding-bottom: 4px;
}

.double-letter {
  @extend .standard;

  $color: $light-blue;
  color: $color;
  background-color: $color;
}

.triple-letter {
  @extend .standard;

  $color: $blue;
  color: $color;
  background-color: $color;
}

.triple-word {
  @extend .standard;

  $color: $red;
  color: $color;
  background-color: $color;
}

.text {
  font-size: 8px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.2);
}

.tile {
  position: absolute;
  left: -$border-size;
  top: -$border-size;
}
