.board {
  $border-size: 8px;
  width: 50px * 15 + $border-size * 2;
  height: 50px * 15 + $border-size * 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: $border-size solid #12351a;
}
