$size: 80px;

.standard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  background-color: rgb(11, 155, 11);
  margin: 30px; // temp
  border: 6px solid rgba(0, 0, 0, 0.4);
}

.start {
  @extend .standard;

  $color: rgb(155, 11, 83);
  color: $color;
  background-color: $color;
}

.double-letter {
  @extend .standard;

  $color: rgb(11, 138, 155);
  color: $color;
  background-color: $color;
}

.triple-letter {
  @extend .standard;

  $color: rgb(11, 33, 155);
  color: $color;
  background-color: $color;
}

.double-word {
  @extend .standard;

  $color: rgb(138, 11, 155);
  color: $color;
  background-color: $color;
}

.triple-word {
  @extend .standard;

  $color: rgb(155, 11, 11);
  color: $color;
  background-color: $color;
}

.text {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}
